{% extends "emails/transactional_base.html" %}
{% block email_title %}Reset Your iRoad Password{% endblock %}
{% block content %}
<h2>Hello {{ admin_user.first_name|default:"Admin" }},</h2>
<p>We received a request to reset the password for your iRoad account. Click the button below to choose a new password:</p>

<div class="button-wrapper">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</div>

<p>If you didn't request this, you can safely ignore this email. Your password won't change until you create a new one.</p>

<p class="expiry">This link will expire in 1 hour for security reasons.</p>
{% endblock %}
