{% load static cms_locale %}
    <!-- Our Testimonials Section Start -->
    <div class="our-testimonials bg-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <!-- Testimonial Image Box Start -->
            <div class="testimonial-image-box wow fadeInUp" data-wow-delay="0.2s">
              <!-- Testimonial Image Start -->
              <div class="testimonial-image">
                <figure class="image-anime">
                  {% if t_hero_image %}
                    <img src="{{ t_hero_image.url }}" alt="" />
                  {% else %}
                    <img src="{% static 'landing/images/testimonial-image.jpg' %}" alt="" />
                  {% endif %}
                </figure>
              </div>
              <!-- Testimonial Image End -->

              <!-- Happy Customer Box Start -->
              <div class="happy-customer-box">
                <!-- Satisfy Client Images Start -->
                <div class="satisfy-client-images">
                  <div class="satisfy-client-image">
                    <figure class="image-anime">
                      <img src="{% static 'landing/images/author-1.jpg' %}" alt="" />
                    </figure>
                  </div>
                  <div class="satisfy-client-image">
                    <figure class="image-anime">
                      <img src="{% static 'landing/images/author-2.jpg' %}" alt="" />
                    </figure>
                  </div>
                  <div class="satisfy-client-image">
                    <figure class="image-anime">
                      <img src="{% static 'landing/images/author-3.jpg' %}" alt="" />
                    </figure>
                  </div>
                  <div class="satisfy-client-image add-more">
                    <h3>{{ t_happy_count }}</h3>
                  </div>
                </div>
                <!-- Satisfy Client Images End -->

                <!-- Review Content Start -->
                <div class="happy-customer-content">
                  <p>
                    {% if use_cms_pricing_testimonials %}{% cms_txt home 'testimonials_happy_label' %}
                    {% elif use_cms_home_titles %}{% cms_txt home 'testimonials_happy_label' %}
                    {% else %}{{ t_happy_label }}{% endif %}
                  </p>
                </div>
                <!-- Review Content End -->
              </div>
              <!-- Happy Customer Box End -->
            </div>
            <!-- Testimonial Image Box End -->
          </div>

          <div class="col-xl-7">
            <!-- Testimonial Content Box Start -->
            <div class="testimonial-content-box">
              <!-- Section Title Start -->
              <div class="section-title">
                <h3>
                  {% if use_cms_pricing_testimonials %}{% cms_txt pricing_page 'testimonials_kicker' %}
                  {% elif use_cms_home_titles %}{% cms_txt home 'testimonials_kicker' %}
                  {% else %}{{ t_kicker }}{% endif %}
                </h3>
                <h2 data-cursor="-opaque">
                  {% if use_cms_pricing_testimonials %}{% cms_txt pricing_page 'testimonials_heading' %}
                  {% elif use_cms_home_titles %}{% cms_txt home 'testimonials_heading' %}
                  {% else %}{{ t_heading }}{% endif %}
                </h2>
              </div>
              <!-- Section Title End -->

              <!-- Testimonial Slider Start -->
              <div class="testimonial-slider">
                <div class="swiper">
                  <div class="swiper-wrapper" data-cursor-text="Drag">
                    {% for t in testimonials %}
                      <!-- Testimonial Slide Start -->
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <div class="testimonial-company-logo">
                            {% if t.company_logo %}
                              <img src="{{ t.company_logo.url }}" alt="" />
                            {% else %}
                              <img src="{% static 'landing/images/company-logo-1.svg' %}" alt="" />
                            {% endif %}
                          </div>
                          <div class="testimonial-content">
                            <p>"{% cms_txt t 'quote' %}"</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-content">
                              <h3>{% cms_txt t 'author_name' %}</h3>
                              <p>{% cms_txt t 'author_role' %}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Testimonial Slide End -->
                    {% empty %}
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <div class="testimonial-company-logo">
                            <img src="{% static 'landing/images/company-logo-1.svg' %}" alt="" />
                          </div>
                          <div class="testimonial-content">
                            <p>&nbsp;</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-content">
                              <h3>&nbsp;</h3>
                              <p>&nbsp;</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="testimonial-pagination"></div>
                </div>
              </div>
              <!-- Testimonial Slider End -->
            </div>
            <!-- Testimonial Content Box End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Our Testimonials Section End -->
